# Notes

This assignment is devoted to `pandas`. It covers indexing and filtering, and some `groupby` and `join` operations. The assignment roughly corresponds to Week 4 and the beginning of Week 5 of the course.

The main dataset you'll be using is [Titanic](https://www.kaggle.com/c/titanic). Please, note, that you must not rely on any specific location for the dataset, hence, any code like

```python
titanic_train = pd.read_csv("<location>/train.csv")
```

will fail and your notebook won't be validated and graded. Inputs to the functions are described explicitly in each case, and that's the only thing you can rely on.

In [1]:
%pylab inline
plt.style.use("bmh")

Populating the interactive namespace from numpy and matplotlib

In [2]:
plt.rcParams["figure.figsize"] = (6,6)

In [3]:
import numpy as np
import pandas as pd

In [4]:
STUDENT = "Daniel Voclhegursky"
ASSIGNMENT = 4
TEST = False

In [5]:
if TEST:
    import solutions
    total_grade = 0
    MAX_POINTS = 16

# Indexing and filtering

### 1. Fixing age (1 point).

There are several known mistakes in the Titanic dataset.

Namely, [Julia Florence Siegel](https://www.encyclopedia-titanica.org/titanic-survivor/julia-florence-cavendish.html) (Mrs. Tyrell William Cavendish) is mistakenly marked as being 76 years old (the age she actually died, but many years after Titanic).

You must **replace the corresponding age value in the dataframe with her actual age at the time** (25) and return the dataset. Input is **indexed** with `PassengerId` and is a **concatenation of train and test sets**. You must return a copy of the input dataframe, and not perform replacement in the original dataframe. Structure and indexing must be the same as in input.

In [67]:
def fix_age(df):
    """Fix age for Julia Florence Siegel."""
    result = df.copy()
    result.loc[result['Name'].str.contains('Julia Florence Siegel', na = False), 'Age'] = 25
    return result

In [71]:
if not TEST:
    url_test='https://raw.githubusercontent.com/dsindy/kaggle-titanic/master/data/test.csv'
    url_train='https://raw.githubusercontent.com/dsindy/kaggle-titanic/master/data/train.csv'
    titanic_train = pd.read_csv(url_train, index_col="PassengerId")
    titanic_test = pd.read_csv(url_test, index_col="PassengerId")
#     titanic_train = pd.read_csv("train.csv", index_col="PassengerId")
#     titanic_test = pd.read_csv("test.csv", index_col="PassengerId")
    titanic = pd.concat([titanic_train, titanic_test], sort=False)
    result=fix_age(titanic)
    print("Age=", titanic[titanic['Name'].str.contains('Julia Florence Siegel', na = False)]["Age"])
    print("Fixed Age=", result[result['Name'].str.contains('Julia Florence Siegel', na = False)]["Age"])

Age= PassengerId
988    76.0
Name: Age, dtype: float64
Fixed Age= PassengerId
988    25.0
Name: Age, dtype: float64

In [70]:
# titanic.head(1)
# result
# titanic['Name']
# titanic[titanic['Name'].str.contains('Julia Florence Siegel', na = False)]

In [9]:
PROBLEM_ID = 1

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, fix_age)

### 2. Embarkment port distribution (1 point).

You must find the value counts for embarkment port (`Embarked` column) for the passengers, who travelled in 3-d class, were male and between 20 and 30 years old (both inclusive). No need to treat missing values separately.

Input is **indexed** with `PassengerId` and is a **concatenation of train and test sets**. You must return **series**, indexed with values from `Embarked`, according to `.value_counts()` method semantics:

```
S    <number of passengers in 3-d class, embarked at S, 20<=Age<=30>
C    <...>
Q    <...>
Name: Embarked, dtype: int64
```

In [74]:
def embarked_stats(df):
    """Calculate embarkment port statistics."""
    result = df.copy()
    result = result[(result['Pclass']==3) & (result['Age']>=20) & (result['Age']<=30) & (result['Sex']=='male')]
    result = result['Embarked'].value_counts()
    return result

In [75]:
if not TEST:
    url_test='https://raw.githubusercontent.com/dsindy/kaggle-titanic/master/data/test.csv'
    url_train='https://raw.githubusercontent.com/dsindy/kaggle-titanic/master/data/train.csv'
    titanic_train = pd.read_csv(url_train, index_col="PassengerId")
    titanic_test = pd.read_csv(url_test, index_col="PassengerId")
#     titanic_train = pd.read_csv("train.csv", index_col="PassengerId")
#     titanic_test = pd.read_csv("test.csv", index_col="PassengerId")
    titanic = pd.concat([titanic_train, titanic_test], sort=False)
    result=embarked_stats(titanic)
    print("result=", result)

result= S    132
C     21
Q      7
Name: Embarked, dtype: int64

In [12]:
PROBLEM_ID = 2

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, embarked_stats)

### 3. Fill missing age values (1 point).

Some age values are missing in the Titanic dataset. You need to calculate average age over all passengers, and fill missing age values in `Age` column.

Input is **indexed** with `PassengerId` and is a **concatenation of train and test sets**. Output must be a **new** dataframe with the same structure, but without missing values in `Age` column.

In [76]:
def fix_age(df):
    """Fix missing age values."""
    result = df.copy()
    mean_age = result["Age"].mean()
    result.loc[result['Age'].isnull(), 'Age'] = mean_age
    return result

In [77]:
if not TEST:
    url_test='https://raw.githubusercontent.com/dsindy/kaggle-titanic/master/data/test.csv'
    url_train='https://raw.githubusercontent.com/dsindy/kaggle-titanic/master/data/train.csv'
    titanic_train = pd.read_csv(url_train, index_col="PassengerId")
    titanic_test = pd.read_csv(url_test, index_col="PassengerId")
#     titanic_train = pd.read_csv("train.csv", index_col="PassengerId")
#     titanic_test = pd.read_csv("test.csv", index_col="PassengerId")
    titanic = pd.concat([titanic_train, titanic_test], sort=False)
    print('numOfRowsBeforeFixWithNan=',len(titanic[titanic['Age'].isnull()].index))
    print('mean AGE =', titanic["Age"].mean())
    result = fix_age(titanic)
    print('numOfRowsAfterFixWithNan=',len(result[result['Age'].isnull()].index))
    print('mean AGE after fix =', result["Age"].mean())

numOfRowsBeforeFixWithNan= 263
mean AGE = 29.881137667304014
numOfRowsAfterFixWithNan= 0
mean AGE after fix = 29.881137667304014

In [15]:
PROBLEM_ID = 3

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, fix_age)

### 4. Child travelling alone (1 point).

You must find a child (`Age<10`) on-board, who was travelling without siblings or parents and find a name of her nursemaid.

Input is **indexed** with `PassengerId` and is a **concatenation of train and test sets**. Output must be a **tuple** of two strings, collected from `Name` column, with one being child's name and second being nursemaid's name. It's known, that there's **only one child** like this.

In [78]:
def get_nursemaid(df):
    child = df[(df['Age']<10) & (df['Parch'] == 0) & (df['SibSp'] == 0)]
    ticket = child.iloc[0].Ticket
    pair=df[(df.Ticket== ticket)].sort_values(by=['Age'])
    names = pair.Name
    result = (names.values[0],names.values[1])
    return result

In [79]:
if not TEST:
    url_test='https://raw.githubusercontent.com/dsindy/kaggle-titanic/master/data/test.csv'
    url_train='https://raw.githubusercontent.com/dsindy/kaggle-titanic/master/data/train.csv'
    titanic_train = pd.read_csv(url_train, index_col="PassengerId")
    titanic_test = pd.read_csv(url_test, index_col="PassengerId")
#     titanic_train = pd.read_csv("train.csv", index_col="PassengerId")
#     titanic_test = pd.read_csv("test.csv", index_col="PassengerId")
    titanic = pd.concat([titanic_train, titanic_test], sort=False)
    result = get_nursemaid(titanic)
    print('type(result)=',type(result))
    print('result =', result)

type(result)= <class 'tuple'>
result = ('Emanuel, Miss. Virginia Ethel', 'Dowdell, Miss. Elizabeth')

In [18]:
PROBLEM_ID = 4

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, get_nursemaid)

### 5. Port with the most children embarked (1 point).

You must find, which port had the largest percentage of children (`Age<10`) embarked, i.e. number of children divided by total number of passengers embarked.

Input is **indexed** with `PassengerId` and is a **concatenation of train and test sets**. Output must be a **single string** with port letter.

In [80]:
def get_port(df):
    """Get port with the most children embarked."""
#     port = (df[(df['Age']<10)]['Embarked'].value_counts()/(df['Embarked'].value_counts())).sort_values(ascending=False).index.tolist()[0]
    port = (df[(df['Age']<10)]['Embarked'].value_counts()/(df['Embarked'].value_counts())).idxmax()
    return port

In [81]:
if not TEST:
    url_test='https://raw.githubusercontent.com/dsindy/kaggle-titanic/master/data/test.csv'
    url_train='https://raw.githubusercontent.com/dsindy/kaggle-titanic/master/data/train.csv'
    titanic_train = pd.read_csv(url_train, index_col="PassengerId")
    titanic_test = pd.read_csv(url_test, index_col="PassengerId")
#     titanic_train = pd.read_csv("train.csv", index_col="PassengerId")
#     titanic_test = pd.read_csv("test.csv", index_col="PassengerId")
    titanic = pd.concat([titanic_train, titanic_test], sort=False)
    result = get_port(titanic)
    print('port =', result)

port = S

In [25]:
PROBLEM_ID = 5

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, get_port)

### 6. Passengers per ticket (2 points).

Calculate average and maximum number of passengers per ticket.

Input is **indexed** with `PassengerId` and is a **concatenation of train and test sets**. Output must be a **tuple** of two values - average and maximum number of passengers per ticket.

In [82]:
def get_ticket_stats(df):
    """Calculate passenger per ticket statistics."""
    result = tuple(df['Ticket'].value_counts().describe()[['mean','max']])
    return result

In [83]:
if not TEST:
    url_test='https://raw.githubusercontent.com/dsindy/kaggle-titanic/master/data/test.csv'
    url_train='https://raw.githubusercontent.com/dsindy/kaggle-titanic/master/data/train.csv'
    titanic_train = pd.read_csv(url_train, index_col="PassengerId")
    titanic_test = pd.read_csv(url_test, index_col="PassengerId")
#     titanic_train = pd.read_csv("train.csv", index_col="PassengerId")
#     titanic_test = pd.read_csv("test.csv", index_col="PassengerId")
    titanic = pd.concat([titanic_train, titanic_test], sort=False)
    print('data:=',titanic['Ticket'].value_counts().describe()[['mean','max']])
    result = get_ticket_stats(titanic)
    print('result=', result)

data:= mean     1.409042
max     11.000000
Name: Ticket, dtype: float64
result= (1.4090419806243273, 11.0)

In [ ]:
PROBLEM_ID = 6

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, get_ticket_stats)

### 7. Fare per passenger (3 points).

For each individual ticket, you must calculate **fare per person for that ticket**, and then calculate averages for each class. Note, that you will need to apply `groupby` and you may consider using `.first()` of resulting `DataFrameGroupBy`. Also, caferully consider, in which order calculations are performed.

Input is **indexed** with `PassengerId` and is a **concatenation of train and test sets**. Output must be `pd.Series` with three elements, indexed by class:

```
1    <average per person fare in class 1>
2    <...>
3    <...>
Name: Pclass, dtype: float64
```

In [84]:
def get_fare_per_pass(df):
    """Calculate fare per passenger for different classes."""
    ticket_price_per_person=df.groupby("Ticket")["Fare"].mean() / df.groupby("Ticket").size()
    prices=titanic[["Pclass","Ticket"]].merge(ticket_price_per_person.to_frame("Price"), on="Ticket")
    result = prices.groupby(['Pclass']).Price.mean()
    return result
#     df_ = df.copy()
#     per_ticket = df["Ticket"].value_counts().to_dict()
#     df_["n_pass_per_ticket"] = df["Ticket"].map(per_ticket)
#     df_["Fare"] = df["Fare"] / df_["n_pass_per_ticket"]
#     return df_.groupby("Pclass").mean()["Fare"]

In [85]:
if not TEST:
    url_test='https://raw.githubusercontent.com/dsindy/kaggle-titanic/master/data/test.csv'
    url_train='https://raw.githubusercontent.com/dsindy/kaggle-titanic/master/data/train.csv'
    titanic_train = pd.read_csv(url_train, index_col="PassengerId")
    titanic_test = pd.read_csv(url_test, index_col="PassengerId")
    titanic = pd.concat([titanic_train, titanic_test], sort=False)
    # ticket_price_per_person=titanic.groupby("Ticket")["Fare"].mean() / titanic.groupby("Ticket").size()
#     ticket_price_per_person
#     tickets=titanic[["Pclass","Ticket","Fare"]]
#     prices=tickets.merge(ticket_price_per_person.to_frame("Price"), on="Ticket")
#     type(prices.groupby(['Pclass']).Price.mean())
#     classes=prices.groupby(['Pclass']).Price.mean()
    result = get_fare_per_pass(titanic)
    print('get_fare_per_pass(titanic)=', result)

get_fare_per_pass(titanic)= Pclass
1    33.910500
2    11.411010
3     7.329146
Name: Price, dtype: float64

In [ ]:
PROBLEM_ID = 7

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, get_fare_per_pass)

### 8. Fill missing age values (3 points).

In problem 3 you filled missing age values with global average over all passengers. Now, you need to fill them **according to class and sex**. For example, for a female passenger from 2d class, missing age value must be filled with average age of females in 2d class.

In this problem, you may need joins and `.apply()`, although there are several ways to get the same result.

Input is **indexed** with `PassengerId` and is a **concatenation of train and test sets**. Output must be a **new** dataframe with the same structure as input, but without missing values in `Age` column.

In [90]:
def fix_age_groupped(df):
    """Fill missing age values."""
    result = df.copy()
    stat = titanic.groupby(['Pclass', 'Sex']).Age.mean().to_frame()
    result.loc[:,'Age'] = df.apply(lambda x: stat.loc[x.loc['Pclass'], x.loc['Sex']].Age if pd.isnull(x['Age']) else x['Age'], axis=1,result_type="expand")
    return result

In [91]:
if not TEST:
    url_test='https://raw.githubusercontent.com/dsindy/kaggle-titanic/master/data/test.csv'
    url_train='https://raw.githubusercontent.com/dsindy/kaggle-titanic/master/data/train.csv'
    titanic_train = pd.read_csv(url_train, index_col="PassengerId")
    titanic_test = pd.read_csv(url_test, index_col="PassengerId")
    titanic = pd.concat([titanic_train, titanic_test], sort=False)
    print('numOfRowsBeforeFixWithNan=',len(titanic[titanic['Age'].isnull()].index))
    print('mean AGE =', titanic["Age"].mean())
    print('\ntitanic.count()=\n', titanic.count())
    result = fix_age_groupped(titanic)
    print('numOfRowsAfterFixWithNan=',len(result[result['Age'].isnull()].index))
    print('mean AGE after fix =', result["Age"].mean())
    print('\nresult.count()=\n', result.count())
    print('passengerWithMissingAge:\n', titanic.loc[1305])
    print('passengerWithFixedAge:\n', result.loc[1305])

numOfRowsBeforeFixWithNan= 263
mean AGE = 29.881137667304014

titanic.count()=
 Survived     891
Pclass      1309
Name        1309
Sex         1309
Age         1046
SibSp       1309
Parch       1309
Ticket      1309
Fare        1308
Cabin        295
Embarked    1307
dtype: int64
numOfRowsAfterFixWithNan= 0
mean AGE after fix = 29.37618621513547

result.count()=
 Survived     891
Pclass      1309
Name        1309
Sex         1309
Age         1309
SibSp       1309
Parch       1309
Ticket      1309
Fare        1308
Cabin        295
Embarked    1307
dtype: int64
passengerWithMissingAge:
 Survived                   NaN
Pclass                       3
Name        Spector, Mr. Woolf
Sex                       male
Age                        NaN
SibSp                        0
Parch                        0
Ticket               A.5. 3236
Fare                      8.05
Cabin                      NaN
Embarked                     S
Name: 1305, dtype: object
passengerWithFixedAge:
 Survived                   NaN
Pclass                       3
Name        Spector, Mr. Woolf
Sex                       male
Age                  25.962264
SibSp                        0
Parch                        0
Ticket               A.5. 3236
Fare                      8.05
Cabin                      NaN
Embarked                     S
Name: 1305, dtype: object

In [64]:
# x=titanic.groupby(['Pclass', 'Sex']).Age.mean().to_frame()
# x.loc[3,'female']
# # titanic.groupby(['Pclass', 'Sex']).Age.mean().to_frame()
# result
# # titanic.loc[titanic['Passengerid'] == 1305]
# titanic.loc[1305]
# result.loc[1305]
# titanic.groupby(['Pclass', 'Sex']).Age.mean().to_frame().loc[3,'female'].Age

In [ ]:
PROBLEM_ID = 8

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, fix_age_groupped)

### 9. Finding couples (3 points).

Based on the code from Lecture 5, build a dataframe of couples. Filter it by survival status: select those couples, in which only one of spouses survived or none of two. Built survival statistics by class, i.e. ratio of the number couples with partial survival or couples which died together, divided by total number of couples in class. If the survival status of one or both of spouses is not known, it must be considered as `0`.

Input is **indexed** with `PassengerId` and is a **concatenation of train and test sets**. Output must be `Series` with three elements indexed by values from `Pclass` column (see P7 as a reference).

In [88]:
def find_couples(df):
    """Fill missing age values."""
    family_names = (df
                .replace(re.compile(r'\s+\(.*\)'), '')
                .replace(re.compile("Mrs."), "Mr."))[["Name", "Sex"]]
    family_names
    family_names = family_names[(family_names.Sex=="female") & family_names.Name.str.contains("Mr.")]
    family_names
    family_names.reset_index().set_index("Name")["PassengerId"]
    couples = (df.join(family_names
                            .reset_index()
                            .set_index("Name")["PassengerId"],
                            on="Name", how="inner", rsuffix="_Spouse"))

    couples.rename({"PassengerId":"PassengerId_Spouse"},
                   axis=1, inplace=True)
    couples = couples.join(df[["Name", "Age","Survived"]],
                           on="PassengerId_Spouse", rsuffix="_Spouse")
    filtered=couples[couples.Survived + couples.Survived_Spouse!=2]
    result = filtered.groupby('Pclass').size()/couples.groupby('Pclass').size()
    return result

In [89]:
if not TEST:
    url_test='https://raw.githubusercontent.com/dsindy/kaggle-titanic/master/data/test.csv'
    url_train='https://raw.githubusercontent.com/dsindy/kaggle-titanic/master/data/train.csv'
    titanic_train = pd.read_csv(url_train, index_col="PassengerId")
    titanic_test = pd.read_csv(url_test, index_col="PassengerId")
    titanic = pd.concat([titanic_train, titanic_test], sort=False)
    result = find_couples(titanic)
    print('result=', result)

result= Pclass
1    0.780488
2    0.956522
3    1.000000
dtype: float64

In [ ]:
PROBLEM_ID = 9

if TEST:
    total_grade += solutions.check(STUDENT, PROBLEM_ID, find_couples)

In [ ]:
# family_names = (titanic
#                 .replace(re.compile(r'\s+\(.*\)'), '')
#                 .replace(re.compile("Mrs."), "Mr."))[["Name", "Sex"]]
# family_names
# family_names = family_names[(family_names.Sex=="female") & family_names.Name.str.contains("Mr.")]
# family_names
# family_names.reset_index().set_index("Name")["PassengerId"]
# couples = (titanic.join(family_names
#                         .reset_index()
#                         .set_index("Name")["PassengerId"],
#                         on="Name", how="inner", rsuffix="_Spouse"))

# couples.rename({"PassengerId":"PassengerId_Spouse"},
#                axis=1, inplace=True)
# couples = couples.join(titanic[["Name", "Age","Survived"]],
#                        on="PassengerId_Spouse", rsuffix="_Spouse")
# couples
# filtered=couples[couples.Survived+couples.Survived_Spouse!=2]
# filtered
# filtered.groupby('Pclass').size()
# couples.groupby('Pclass').size()
# filtered.groupby('Pclass').size()/couples.groupby('Pclass').size()
# (filtered.groupby('Pclass').size()/couples.groupby('Pclass').size()).index

In [ ]:
if TEST:
    print(f"{STUDENT}: {int(100 * total_grade / MAX_POINTS)}")